{% extends 'layout.html' %}
{% block body %}
<div class="card-rows">
  <div class="card-columns">

    <div class="card">
      <div class="card-body">
        <h5 id="citation_title" class="card-title" data-toggle="popover" title="Citation saying." data-content="This is like a citation reference of the paper  ">Memory Based Collaborative Filtering Algorithm Using Multiple Data Sources</h5>
        <p class="card-text">Memory-Based Collaborative Filtering approaches can be divided into two main sections: user-item filtering and item-item filtering. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Model based approach</h5>
        <p class="card-text">Matrix decomposition can be reformulated as an optimization problem with loss functions and constraints. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Neural Nets/ Deep Learning</h5>
        <p class="card-text">Uses Deep Learning Models to make future predictions</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-columns">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Accuracy</h5>
        <p class="card-text">46%.Doesnt work good in sparse matrices</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">f score</h5>
        <p class="card-text">Some Comparison</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Difficult to Train</h5>
        <p class="card-text">Highly module and better accuracy than all.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-columns">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>\
</script>
<script type="text/javascript">$('.card-title').popover(options)</script>
</body>
{%endblock%}
