{% extends 'layout.html' %}
{% block body %}
  <div class="jumbotron text-center">
    <h1>JarGone.</h1>
  </h4 class="lead">Research is no more taxing.</h4>
  <hr>
  <br></br>
</h4 class="lead">Now research papers can be more understanding, contributing and ENJOYABLE</h4>
  <p><a href="/about">Check About</a></p>
  </div>



<div class="container">
  <h2>Top trending research topics</h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">#deep-learning</div>
      <div class="panel-body"><a href="/articles">Categorial prognosis prediction using deep learning</a></div>
      <div class="panel-body"><a href="/articles"></a>Computational Inference of Oratory skills from extracted Vocal attributes</div>
      <div class="panel-body">Conditional Generative Adversial Networks</div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">#algorithms</div>
      <div class="panel-body"> Convexity algorithms for digitized pictures on an Intel iPSC hypercube</div>
      <div class="panel-body">Optical clustering on a mesh-connected computer</div>
      <div class="panel-body">Efficient convexity and domination algorithms for fine- and medium-grain hypercube computers</div>
      <div class="panel-body">Parallel algorithms for gray-scale digitized picture component labeling on a mesh-connected computer</div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">#finance</div>
      <div class="panel-body">'Green Bonds' May Be Our Best Bet for Environmental Damage Control</div>
      <div class="panel-body">Using Fintech to Disrupt Eastern Bank from Within</div>

    </div>


  </div>
</div>



{%endblock%}
